body {
    margin: 0;
}

.MainShell {
    display: flex;
    flex-direction: column;
}

.AboutShell {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 93vh;
    border-bottom: solid 3px black;
}

.TextShell {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 60%;
}

.NameShell {
    width: 80%;
}

h1 {
    font-size: 7rem;
    margin: 0;
}

.LastName {
    margin-left: 12.5%;
}

.Tag {

}

.BlurbShell {
    width: 60%;
    margin-left: 0;
}

p {

}

.MeShell {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.Me {
    height: auto;
    width: 60%;
}

.ProjectShell {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 2%;
}